VITE_API_BASE_URL=
VITE_PUBLIC_URL=
DB_HOST=<hote-tidb>
DB_PORT=4000
DB_USERNAME=<utilisateur-tidb>
DB_PASSWORD=<mot-de-passe-tidb>
DB_DATABASE=code
DB_SSL=true
ADMIN_PASSWORD=<mot-de-passe-admin>
SUPER_ADMIN_PASSWORD=change-this-super-admin-password
SUPER_ADMIN_PASSWORD=change-this-super-admin-password