DOMAIN=avis.votre-domaine.com

DB_DATABASE=innovcare
DB_USERNAME=innovcare
DB_PASSWORD=REMPLACER_PAR_UN_MOT_DE_PASSE_TRES_LONG
DB_ROOT_PASSWORD=REMPLACER_PAR_UN_AUTRE_MOT_DE_PASSE_TRES_LONG

ADMIN_PASSWORD=REMPLACER_PAR_LE_MOT_DE_PASSE_ADMIN
SUPER_ADMIN_PASSWORD=REMPLACER_PAR_UN_MOT_DE_PASSE_SUPER_ADMIN_DIFFERENT
DB_STORAGE_LIMIT_BYTES=8589934592
